<template name="signalCard">
  <div class="swiper-slide" data-hash="{{_id}}">
    <div class="card">
      <div class="card-content">
        <div class="signal-top">
          Open Trade Wed Sep 28 9:38AM
        </div>

        <span>
          <h2>{{title}}</h2>
          <p>Apple Computer</p>
        </span>

        <table class="bordered">
          <tbody>
            <tr>
              <td>Action</td>
              <td>Sell to Open</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>Short</td>
            </tr>
            <tr>
              <td>Class</td>
              <td>Stock</td>
            </tr>
            <tr>
              <td>Market</td>
              <td>$7.00</td>
            </tr>
            <tr>
              <td>Shares</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Price</td>
              <td>$20.60</td>
            </tr>
            <tr>
              <td>Max</td>
              <td>$20.91</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-action">
        <a href="#">Reject</a>
        <a href="#">Open This Thing</a>
      </div>
    </div>
  </div>
</template>
